.btn {
    background-color: $main-color;
    padding: 18px 30px;
    border: none;
    color: #fff;
    font-family: "Montserrat";
    font-weight: 400;
    border-radius: 15px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    &:hover {
        background-color: $hover-color;
    }
    &:active {
        box-shadow: inset 0px 3px 0px #D10018;
    }
    &__prev, &__next {
        border: none;
        cursor: pointer;
        padding: 13px 15px 12px 15px;
        background: #FFFFFF;
        box-shadow: 0px 8px 16px rgba(255, 107, 0, 0.16);
        border-radius: 30px;
        stroke: $main-color;
        transition: 0.2s all;
        &:hover {
            stroke: #fff;
            background-color: $main-color;
        }
        svg {
            stroke: inherit;
            width: 12px;
            height: 12px;
            & path {
                fill: none;
                stroke: inherit;
            }
        }
    }
    &__next {
        svg {
            transform: scale(-1, 1);
        }
    }
    &__play {
        cursor: pointer;
        padding: 21.25px 22.75px;
        border-radius: 100%;
        border: none;
        background: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        fill: $main-color;
        transform: translateX(-50%) translateY(-50%);
        transition: 0.2s all;
        &:hover {
            fill: #fff;
            background-color: $main-color;
        }
        svg {
            fill: inherit;
            width: 18px;
            height: 18px;
            & path {
                fill: inherit;
                stroke: inherit;
                stroke-width:inherit;
            }
        }
        &::before {
            position: absolute;
            content: '';
            display: block;
            width: 0;
            left: 50%;
            top: 50%;
            padding: 31px;
            transform: translateX(-50%) translateY(-50%);
            background:rgba(255, 255, 255, 0.0);
            border: 10px solid #fff;
            border-radius: 100%;
            opacity: 0.5;
        }
    }
}

.slider__prev, .slider__next {
    border: none;
    position: absolute;
    cursor: pointer;
    z-index: 10;
    top: 50%;
    stroke: $main-color;
    fill: #fff;
    transform: translateY(-50%);
    background: none;
    &:hover {
        fill: $main-color;
        stroke: #fff;
    }
    svg {
        width: 70px;
        height: 70px;
        fill: inherit;
        stroke: inherit;
        border: 10px solid rgba(255, 255, 255, 0.3);
        box-shadow: 0px 8px 16px rgba(255, 107, 0, 0.16);
        border-radius: 100%;
        & rect {
            fill: inherit;
            stroke: none;
            width: 48px;
            height: 48px;
        }
        & path {
            stroke: inherit;
            fill: none;
        }
    }
}
.slider__prev {
    left: -30px;
    svg {
        transform: scale(-1, 1);
    }
}
.slider__next {
    right: -30px;
}