.footer {
    position: relative;
    &__container {
        z-index: 10;
        left: 50%;
        transform: translateX(-50%);
        top: -150px;
        width: 1300px;
        position: absolute;
        border-radius: 30px;
        padding: 55px 212px 42px 71px;
        background: #fff;
        box-shadow: 0px 50px 60px rgba(255, 107, 0, 0.08), 0px 8px 10px rgba(255, 107, 0, 0.08);
    }
    &__info {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        div {
            padding-left: 72px;
        }
        &-tel,&-mail,&-location {
            position: relative;
            &::before {
                content: '';
                left: 0;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                display: block;
                width: 56px;
                height: 56px;
            }
        }
        &-mail, &-location {
            font-family: "Montserrat";
            font-size: 20px;
            line-height: 24px;
            font-weight: 500;
        }
        &-tel {
            &::before {
                background: url('../icons/tel.svg');
            }
        }
        &-mail {
            &::before {
                background: url('../icons/message.svg');
            }
        }
        &-location {
            &::before {
                background: url('../icons/location.svg');
            }
        }
    }
    &__wrapper {
        margin-top: 40px;
        display: grid;
        grid-template-columns: 215px 185px;
        column-gap: 188px;
        align-items: start;
    }
    &__rating {
        img {
            margin-top: 15px;
        }
        &-subtitle {
            margin-top: 10px;
        }
    }
    &__social {
        &-list {
            display: flex;
            width: 100%;
            justify-content: space-between;
            margin-top: 20px;
            a {
                text-decoration: none;
            }
        }
    }
}