.header {
    position: relative;
    display: flex;
    padding: 10px 30px 10px 30px;
    max-height: 70px;
    justify-content: space-between;
    align-items: center;
    background-color: $bg-color;
    &__logo {
        width: 180px;
        img {
            width: 100%;
        }
        &-menu {
            position: fixed;
            z-index: 999;
            top: 20px;
            left: 25px;
        }
    }
    &__hamburger {
        display: none;
        background: #FFFFFF;
        box-shadow: 0px 8px 16px rgba(255, 107, 0, 0.16);
        border-radius: 15px;
        padding: 18px 15px;
        &-line {
            display: block;
            width: 20px;
            height: 2px;
            border-radius: 10px;
            background-color: #13171D;
            margin-bottom: 5px;
            &:last-child {
                margin-bottom: 0;
            }
        }
        &-menu {
            display: fixed;
            position: fixed;
            z-index: 999;
            top: 15px;
            left: 270px; 
            div:last-of-type {
                display: none;
            }
            div:first-of-type {
                transform: rotate(49deg) translate(5px, 4px);
            }
            div:nth-of-type(2) {
                transform: rotate(-50deg);
            }
        }
    }
    &__list {
        display: flex;
        width: 570px;
        justify-content: space-between;
        list-style-type: none;
        a {
            position: relative;
            text-decoration: none;
            font-weight: 600;
            color: #000;
            transition: 0.5s all;
            &:hover {
                color: $main-color;
                &::after {
                    content: '';
                    display: block;
                    position: absolute;
                    width: 100%;
                    height: 2px;
                    top: 42px;
                    background-color: $main-color;

                }
            }
        }
    }
    &__address {
        display: flex;
        &-img {
            width: 32px;
            margin-right: 15px;
            img {
                width: 100%;
            }
        }
        &-info {
            a {
                color: #015AA9;
            }
        }
    }
    &__phone {
        display: flex;
        align-items: center;
        &-tel  {
            width: 200px;
            font-weight: 600;
            font-size: 20px;
            text-align: center;
            color: #000;
            text-decoration: none;
        }
        &-img {
            background: rgba(226,0,26, 0.1);
            padding: 16px;
            border-radius: 15px;
            width: 48px;
            height: 48px;
            fill: $main-color;
            stroke: $main-color;
            transition: 0.5s all;
            &:hover {
                fill: #fff;
                stroke: #fff;
                background: $main-color;
            }
            svg {
                width: 16px;
                height: 16px;
                fill: inherit;
                stroke: inherit;
                path {
                    fill: inherit;
                    stroke: inherit;
                }
            }
        }  
    }
}
.hidden{
    display: block;
    position: fixed;
    z-index: 990;
    top: 0;
    width: 50%;
    height: 100%;
    background: #F4F9FC;
    padding: 150px 25px 35px 25px; 
    transform: translateX(-1000px);
}
.show {
    display: block;
    position: fixed;
    z-index: 990;
    top: 0;
    width: 50%;
    height: 100%;
    transform: translateX(0);
    background: #F4F9FC;
    padding: 150px 25px 35px 25px; 
}
.menu {
    transition: 0.5s all;
    &-list {
        list-style-type: none;
    }
    li {
        margin-bottom: 40px;
        &:last-of-type {
            margin-bottom: 0;
        }
    }
    &-item {
        text-decoration: none;
        color: #000;
        font-size: 20px;
        font-weight: 600;
    }
    &-address {
        margin-top: 80px;
        display: flex;
        align-items: center;
        @media(max-width: 572px) {
            display: none;
        }
        &-img {
            margin-right: 10px;
        }
    }
    &-phone {
        display: none;
    } 
}
.overlay {
    height: 100%;
    background: rgba(244, 249, 252, 0.8);
    backdrop-filter: blur(10px);
    z-index: 900;
    position: fixed;
    width: 100%;
    top: 0;
    transition: 0.5s all;
    &-hidden {
        display: none;
    }
    &-show {
        display: block;
        animation-name: overlayShow;
        animation-duration: 0.2s;
    }
}

.header-scroll {
    width: 100%;
    top: 0;
    z-index: 999;
    position: fixed;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
    animation-name: headerChange;
    animation-duration: 0.2s;
}



@keyframes headerChange {
    from {
        transform: translateY(-500px);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes overlayShow {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

