.orders {
    padding-top: 80px;
    background: url('../img/orders-bg.png') #EFF6FA no-repeat 169px 118px;
    @media (max-width: 992px) {
        background: url('../img/orders-bg.png') #eff6fa no-repeat -48px 79px;
    }
    @media (max-width: 572px) {
        background: url('../img/orders-bg-responsive.png') #eff6fa no-repeat center 72px;
    }
    &__top {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
    }
    &__wrapper {
        margin-top: 50px;
    }
    &__item {
        &-img {
            width: 412px;
            height: 401px;
            img {
                object-fit: cover;
                width: 95%;
                height: 100%;
                margin: 0 auto;
                border-radius: 20px;
            }
            @media (max-width: 572px) {
                width: 226px;
                height: 226px;
            }
        }
    }
    &__circles {
        margin: 50px auto 0 auto;
        display: flex;
        align-items: center;
        width: 112px;
        justify-content: space-between;
        list-style-type: none;
        li button{
            font-size: 0; 
            width: 4px;
            height: 4px;
            border: none;
            border-radius: 100%;
            background: #9A9EA3;
        }
    }
    li.slick-active button{
        width: 12px;
        height: 12px;
        background: none;
        border: 2px solid $main-color;
        border-radius: 100%;
    }
}