.reviews {
    padding: 120px 0;
    background: url('../img/reviews-bg.png') $bg-color no-repeat 50px 462px;
    @media (max-width: 992px) {
        background: url('../img/reviews-bg.png') $bg-color no-repeat -9px 425px;
    }
    &__top {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    &__btns {
        display: none;
        width: 140px;
        align-items: center;
        padding: 29px 0px 27px 23px;
    }
    &__slide {
        display: grid;
        grid-template-columns: repeat(4, 302px);
        gap: 32px;
        justify-content: center;
        margin: 45px auto 0 auto;
        @media(max-width: 1300px) {
            grid-template-columns: repeat(3, 302px);
        }
        @media(max-width: 992px) {
            display: block;
        }
        @media(max-width: 572px) {
            grid-template-columns: repeat(1, 302px);
        }
    }
    &__item {
        display: block;
        margin: 0 auto;
        width: 100%;
        &-wrapper {
            margin: 0 auto;
            position: relative;
            max-width: 302px;
            min-height: 250px;
            border-radius: 15px;
            background: #fff;
            padding: 20px;
            box-shadow: 1px 3px 7px rgba(0, 0, 0, 0.07);
        }
        &-img {
            width: 107px;
            height: 107px;
        }
        &-top {
            display: flex;
            justify-content: space-between;
        }
        &-title {
            margin-top: 30px;
        }
        hr {
            margin-top: 15px;
        }
        &-descr {
            margin-top: 30px;
        }
    }
    &__circles {
        margin: 35px auto 0 auto;
        display: flex;
        align-items: center;
        width: 112px;
        justify-content: space-between;
        list-style-type: none;
        li button{
            font-size: 0; 
            width: 4px;
            height: 4px;
            border: none;
            border-radius: 100%;
            background: #9A9EA3;
        }
    }
    li.slick-active button{
        width: 12px;
        height: 12px;
        background: none;
        border: 2px solid $main-color;
        border-radius: 100%;
    } 
}