.work {
    padding-top: 140px;
    padding-bottom: 80px;
    background-color: $bg-color;
    a {
        text-decoration: none;
        color: #000;
    }
    &__container {
        position: relative;
        display: grid;
        grid-template-columns: repeat(4, 302px);
        grid-template-rows: repeat(2, 355px);
        gap: 30px;
        @media (max-width: 1300px) {
            grid-template-columns: repeat(3,302px);
            grid-template-rows: repeat(3, 355px);
        }
        @media (max-width: 992px) {
            max-width: 80%;
            margin: auto;
            grid-template-columns: repeat(3,302px);
            grid-template-rows: 80px repeat(2, 355px);
            justify-content: center;
        }
        @media (max-width: 950px) {
            grid-template-columns: repeat(2, 302px);
            grid-template-rows: 80px repeat(3, 355px);
        }
        @media (max-width: 685px) {
            grid-template-columns: repeat(2, 280px);
        }
        @media (max-width: 620px) {
            grid-template-columns: repeat(2, 270px);
        }
        @media (max-width: 572px) {
            grid-template-columns: repeat(1, 302px);
            grid-template-rows: 80px repeat(1, 355px);  
        }
    }
    &__wrapper {
        position: absolute;
        display: grid;
        grid-template-columns: repeat(4, 302px);
        grid-template-rows: repeat(2,355px);
        gap: 30px;
        @media (max-width: 1300px) {
            top: 320px;
            grid-template-columns: repeat(3, 302px);
            grid-template-rows: repeat(3, 355px);
        }
        @media (max-width: 992px) {
            grid-template-columns: repeat(3, 302px);
            top: 120px;
            left: 50%;
            transform: translateX(-50%);
        }
        @media (max-width: 950px) {
            grid-template-columns: repeat(2, 302px);
            grid-template-rows: repeat(3, 355px);
        }
        @media (max-width: 685px) {
            grid-template-columns: repeat(2, 280px);
        }
        @media (max-width: 620px) {
            grid-template-columns: repeat(2, 270px);
        }
        @media (max-width: 572px) {
            grid-template-columns: repeat(1, 302px);
            grid-template-rows: repeat(1, 355px);  
        }
    }
    &__title {
        line-height: 84px;
        padding-top: 100px;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    &__item {
        cursor: pointer;
        position: relative;
        min-height: 310px;
        padding: 0 40px 0 15px;
        background: url('../icons/work__item-bg.svg') 0px 14px no-repeat;
        transition: 0.2s all;
        &:hover {
            transform: scale(1.04);
        }
        @media (max-width: 992px) {
            width: 100%;
            &:hover {
                transform: scale(1);
            }
        }
        &:first-child {
            grid-column: 3;
            @media(max-width: 1300px) {
                grid-column: 1;
            }
            @media(max-width: 992px) {
                grid-column: 1;
            }
        }
        &-overlay {
            position: absolute;
            z-index: 7;
            left: 50%;
            top: 50%;
            transform: translateX(-50%) translateY(-50%);
            width: 100%;
            height: 100%;
            background: rgba(0,0,0, 0.5);
            border-radius: 20px;
            padding: 120px 30px 20px 30px;
            animation: showOverlay;
            cursor: pointer;
            &:nth-of-type(6) {
                padding: 80px 30px 20px 30px;
            }
            &-title {
                color: #fff;
            }
            &-descr {
                margin-top: 20px;
                color: #fff;
            }
            &-hidden {
                display: none;
            }
        }
        &-title {
            margin-top: 20px;
            line-height: 0;
            padding-left: 15px;
            &-blur {
                filter: blur(2px);
            }
        }
        &-img {
            max-width: 270px;
            max-height: 250px;
            transition: 0.2s all;
            &-blur {
                filter: blur(2px);
            }

        }
        &-btn {
            display: none;
            position: absolute;
            right: 20px;
            z-index: 8;
            bottom: 20px;
            width: 15px;
            height: 15px;
            border: none;
            padding: 15px;
            background: #F9FCFD;
            border-radius: 100%;
            svg {
                width: 15px;
                height: 15px;
                left: 50%;
                top: 50%;
                transform: translateX(-50%) translateY(-50%);
                position: absolute;
            }
            &-back {
                transition: 0.2s all;
                transform: scale(-1, 1);
            }
            @media(max-width: 992px) {
                display: block;
                bottom: 50px;
            }
            @media(max-width: 572px) {
                display: block;
                bottom: 20px;
            }
        }
    } 
    &__circles {
        margin: 35px auto 0 auto;
        display: flex;
        align-items: center;
        width: 112px;
        justify-content: space-between;
        list-style-type: none;
        li button{
            font-size: 0; 
            width: 4px;
            height: 4px;
            border: none;
            border-radius: 100%;
            background: #9A9EA3;
        }
    }
    li.slick-active button{
        width: 12px;
        height: 12px;
        background: none;
        border: 2px solid $main-color;
        border-radius: 100%;
    } 
}

@keyframes showOverlay {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
